<section class="hero is-fullheight backgroundlogin">
    <div class="hero-body">
        <div class="container">
            <div class="notification containercolor">
                <form id="form" action="/login" method="POST">

                    <label for="username">Username</label><br />
                    <input class="input" type="text" name="username" /> <br>

                    <label for="password">Password</label><br />
                    <input class="input" type="password" name="password" /> <br>

                    {{#if errorMessage}}
                    <div class="error-message">{{errorMessage}}</div>
                    {{/if}}
                    <span class="navbar-item">
                        <button type="submit" class="button myrose is-rounded">Log in</button>
                    </span>


                    <p>Don't have an account yet? <a href="/signup">Sign up</a> for free!</p>
                </form>
            </div>
        </div>
    </div>
</section>