<section class="hero is-fullheight">
    <div class="container">
        <div class="notification">
            <form id="form" action="/login" method="POST">

                <label for="username">Username</label><br />
                <input type="text" name="username" /> <br>

                <label for="password">Password</label><br />
                <input type="password" name="password" /> <br>

                {{#if errorMessage}}
                <div class="error-message">{{errorMessage}}</div>
                {{/if}}

                <button type="submit">Log in</button>

                <p>Don't have an account yet? <a href="/signup">Sign up</a> for free!</p>
            </form>
        </div>
    </div>
</section>