<div class="form-container">
<h1>Add a market</h1> 
<form action="/addmarket" method="POST">


  <label for="marketname">Market name: </label>
  <input type="text" name="marketname" id="marketname"> <br>

  <label for="marketType">Market type: </label> <br>
  <input type="radio" name="marketType" value="Farmers market"> Farmers market<br>
   <input type="radio" name="marketType" value="Covered market"> Covered market<br>
   <input type="radio" name="marketType" value="Street-Food-Market"> Street-Food-Market<br>
   <input type="radio" name="marketType" value="Flea market"> Flea market<br>

   <label for="address">Address: </label> <br>
   <input type="text" name="address" id="address"> <br>

  <label for="description">Description: </label> <br>
  <input type="text" name="description" id="description"> <br>

  <label for="keywords">Keywords: </label> <br>
  <input type="checkbox" name="keywords" value= "authentic"> authentic<br>
  <input type="checkbox" name="keywords" value="local"> local<br>
  <input type="checkbox" name="keywords" value="organic"> organic<br> 

  <label for="day">Opening Time: </label> <br>
  <input type="checkbox" name="day" value="Monday"> Monday<br>
  <p>from <input type="number" name="openingHours"> </p>
  <p>till <input type="number" name="closingHours"> </p>

  <input type="checkbox" name="day" value="Tuesday"> Tuesday<br>
  <p>from <input type="number" name="openingHours"> </p>
  <p>till <input type="number" name="closingHours"> </p>

  <input type="checkbox" name="day" value="Wednesday"> Wednesday<br>
  <p>from <input type="number" name="openingHours"> </p>
  <p>till <input type="number" name="closingHours"> </p> 

  <input type="checkbox" name="day" value="Thursday"> Thursday<br>
  <p>from <input type="number" name="openingHours"> </p>
  <p>till <input type="number" name="closingHours"> </p> 
  
  <input type="checkbox" name="day" value="Friday"> Friday<br> 
  <p>from <input type="number" name="openingHours"> </p>
  <p>till <input type="number" name="closingHours"> </p> 

  <input type="checkbox" name="day" value="Saturday"> Saturday<br>
  <p>from <input type="number" name="openingHours"> </p>
  <p>till <input type="number" name="closingHours"> </p> 

  <input type="checkbox" name="day" value="Sunday"> Sunday<br> 
  <p>from <input type="number" name="openingHours"> </p>
  <p>till <input type="number" name="closingHours"> </p> 

  <button type="submit">Add a market</button>

</form>




 {{!-- marketname: {
    type: String,
    required: true
  },
  market: {
    type: Object,
    set: ({ marketType, marketImg }) => {
      console.log(marketType);
      switch (marketType) {
        case "Farmers market":
          marketImg = "/images/farmersmarket_photo.jpg";
          break;
        case "Covered market":
          marketImg = "/images/markthalle-photo.jpg";
          break;
        case "Street-Food-Market":
          marketImg = "/images/streetfoodmarket_photo.jpg";
          break;
        case "Flea market":
          marketImg = "/images/fleamarket-photo.jpg";
          break;
        default:
          marketImg = "/images/markthalle-photo.jpg";
          break;
      }
      console.log(marketImg);
      return {
        marketType,
        marketImg
      };
    }
  },

  // markettype: {
  //   type: String,
  //   enum: [
  //     "Farmers market",
  //     "Covered market",
  //     "Street-Food-Market",
  //     "Flea Market"
  //   ]
  // },
  location: {
    type: {
      type: String,
      enum: ["Point"],
      default: "Point"
    },
    coordinates: {
      type: [Number, Number],
      required: true
    }
  },
  description: String,
  keywords: {
    type: Array
  },
  openingTime: [
    {
      day: {
        type: String,
        enum: [
          "Monday",
          "Tuesday",
          "Wednesday",
          "Thursday",
          "Friday",
          "Saturday",
          "Sunday"
        ]
      },
      openingHours: Number,
      closingHours: Number --}}
