<section class="hero is-fullheight backgroundlogin is-centered">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="form-container">

        <div class="container-card">
          <h1 class="subtitle is-3">Add a market</h1>

          <form action="/addmarket" method="POST" id="add-form">


            <div class="columns is-mobile">
              <div class="column is-half">

                <div class="field">
                  <label class="label" for=" marketname">Market name: </label>w

                  <div class="control">
                    <input class="input is-small" type="text" name="marketname" id="marketname">
                  </div>
                </div>

                <div class="field">
                  <label class=" radio label" for="marketType">Market type: </label>
                  <div class="control">
                    <input type="radio" name="marketType" value="Farmers market"> Farmers market<br>
                    <input type="radio" name="marketType" value="Covered market"> Covered market<br>
                    <input type="radio" name="marketType" value="Street-Food-Market"> Street-Food-Market<br>
                    <input type="radio" name="marketType" value="Flea market"> Flea market<br>
                  </div>
                </div>

                <div class="field">
                  <label class="label" for="address">Address: </label>
                  <div class="control">
                    <input class="input is-medium" type="text" name="address" id="address">
                  </div>
                </div>

                <div class="field">
                  <label class="label" for="description">Description: </label>
                </div>
                <div class="control">
                  <textarea class="input is-large" type="text" name="description" id="description"></textarea>
                </div>
                <div class="field">
                  <label class="checkbox label" for="keywords">Keywords: </label>
                  <div class="control">
                    <input type="checkbox" name="keywords" value="authentic"> authentic<br>
                    <input type="checkbox" name="keywords" value="local"> local<br>
                    <input type="checkbox" name="keywords" value="organic"> organic<br>
                  </div>
                </div>
              </div>




              <div class="column is-half dates">
                <label for="day" class="label">Opening Time: </label>


                <input type="checkbox" name="day" value="Monday" class="checkbox"> Monday<br>
                <p>from <input class="input digits is-small" type="number" name="openingHours" max="24"> </p>
                <p>till <input class="input digits is-small" type="number" name="closingHours" max="24"> </p>



                <input type="checkbox" name="day" value="Tuesday" class="checkbox"> Tuesday<br>
                <p>from <input class="input digits is-small" type="number" name="openingHours" max="24"> </p>
                <p>till <input class="input digits is-small" type="number" name="closingHours" max="24"> </p>



                <input type="checkbox" name="day" value="Wednesday" class="checkbox"> Wednesday<br>
                <p>from <input class="input digits is-small" type="number" name="openingHours" max="24"> </p>
                <p>till <input class="input digits is-small" type="number" name="closingHours" max="24"> </p>



                <input type="checkbox" name="day" value="Thursday" class="checkbox"> Thursday<br>
                <p>from <input class="input digits is-small" type="number" name="openingHours" max="24"> </p>
                <p>till <input class="input digits is-small" type="number" name="closingHours" max="24"> </p>




                <input type="checkbox" name="day" value="Friday"> Friday<br>
                <p>from <input class="input digits is-small" type="number" name="openingHours" max="24"> </p>
                <p>till<input class="input digits is-small" type="number" name="closingHours" max="24"> </p>



                <input type="checkbox" name="day" value="Saturday"> Saturday<br>
                <p>from <input class="input digits is-small" type="number" name="openingHours" max="24"> </p>
                <p>till<input class="input digits is-small" type="number" name="closingHours" max="24"> </p>



                <input type="checkbox" name="day" value="Sunday"> Sunday<br>
                <p>from <input class="input digits is-small" type="number" name="openingHours" max="24"> </p>
                <p>till <input class="input digits is-small" type="number" name="closingHours" max="24"> </p>

              </div>


          </form>
        </div>
        <div class="submitnewmarket">
          <button type="submit" class="button myrose is-rounded add-button">Add a market</button>
        </div>

      </div>


    </div>
  </div>
</section>

<script>
  document.querySelector('.add-button').addEventListener('click', () => {
    document.querySelector('#add-form').submit()
  })
</script>

{{!-- marketname: {
    type: String,
    required: true
  },
  market: {
    type: Object,
    set: ({ marketType, marketImg }) => {
      console.log(marketType);
      switch (marketType) {
        case "Farmers market":
          marketImg = "/images/farmersmarket_photo.jpg";
          break;
        case "Covered market":
          marketImg = "/images/markthalle-photo.jpg";
          break;
        case "Street-Food-Market":
          marketImg = "/images/streetfoodmarket_photo.jpg";
          break;
        case "Flea market":
          marketImg = "/images/fleamarket-photo.jpg";
          break;
        default:
          marketImg = "/images/markthalle-photo.jpg";
          break;
      }
      console.log(marketImg);
      return {
        marketType,
        marketImg
      };
    }
  },

  // markettype: {
  //   type: String,
  //   enum: [
  //     "Farmers market",
  //     "Covered market",
  //     "Street-Food-Market",
  //     "Flea Market"
  //   ]
  // },
  location: {
    type: {
      type: String,
      enum: ["Point"],
      default: "Point"
    },
    coordinates: {
      type: [Number, Number],
      required: true
    }
  },
  description: String,
  keywords: {
    type: Array
  },
  openingTime: [
    {
      day: {
        type: String,
        enum: [
          "Monday",
          "Tuesday",
          "Wednesday",
          "Thursday",
          "Friday",
          "Saturday",
          "Sunday"
        ]
      },
      openingHours: Number,
      closingHours: Number --}}