<div id='map' style='width: auto; height: 86vh'></div>


<script>
  //delete markers, create new markers
  document.getElementById("search-markets").onclick = () => {
    const query = document.querySelector(".searchbar").value;

  }
  //initial map settings

  mapboxgl.accessToken = 'pk.eyJ1IjoiYW5nbWluc2hlbmciLCJhIjoiY2pydDhjMjlwMXhpaDN5cHMxcjNya2ZmbyJ9.Tc5kmo0vZ1VKJbLK83OloA';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/light-v10',
    center: [13.405, 52.52],
    zoom: 11.15,
  });

  // from Alican, between forEach and markets filter, filter markets by name, compare with the value of the form
  const markets = {{{ JSON markets }}}
  markets.forEach(market => {
    let popup = new mapboxgl.Popup({ offset: 0, className: 'my-class' })
      .setHTML(`<div class="popup"><p>${market.marketname}</p><p>${market.description}</p><img src="${market.market.marketImg}" alt="" style="width:50px;height:50px;"></div>`)
      .setMaxWidth("none")
    var el = document.createElement('div');
    el.className = 'marker';
    el.style.backgroundImage = `url(/images/${market.market.marketType.toLowerCase().replace(" ", "")}.png)`
    el.style.width = '50px';
    el.style.height = '47px';
    let marker = new mapboxgl.Marker(el)
      .setLngLat(market.location.coordinates.reverse())
      .setPopup(popup)
      .addTo(map)
  })



map.addControl(new mapboxgl.NavigationControl());
</script>