<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.0/mapbox-gl.js'></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap" rel="stylesheet">
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.0/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
  <div class="container">
      
<nav class="navbar">
  <div class="logo-search">
  <a href="#"><img id="logo" src="/images/logo.png" alt="logo"></a>
  <form class="searchform">
      <input class="searchbar" type="text" placeholder="Search a market" aria-label="Search">
    </form>
    </div>
  <div class="buttons">
    <a href="#" class="btn-log-in">Log in</a>
    <a href="#" class="btn-sign-up">Sign up</a>
    </div>
</nav>


  {{{body}}}

</div>
<div class="footer">
        <p>
          Made by
          <a href="https://www.linkedin.com/in/adontcova/">Anna Dontcova</a> and <a href="https://www.linkedin.com/in/manuela-sakura-rommel-4aa3ba156/">Manuella Rommel</a> during <a href="https://www.ironhack.com/en/courses/web-development-bootcamp">Ironhack</a> bootcamp. © 2019
        </p>
      </div>
  <script src="/javascripts/script.js"></script>
</body>
</html>