<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.0/mapbox-gl.js'></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap" rel="stylesheet">
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.0/mapbox-gl.css' rel='stylesheet' />
  <script src='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.css' rel='stylesheet' />
</head>

<body>

  <section class="hero has-background-dark is-medium">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a href="/" class="navbar-item">
              <img src="/images/farmersmarket.png" id="logo" alt="Logo">
            </a>

            <span class="navbar-item">
              <div class="field has-addons">
                <div class="control">

                  <form class="searchform" action="/" method="GET">
                    <input for="searchinput" name="market" class="searchbar input" id="getSearchValue" type="text"
                      placeholder="Search a market" aria-label="Search">

                </div>
                <div class="control">
                  <a class="button myrose" id="search-markets" type="submit"><span class="icon">
                      <i class="fas fa-search"></i>
                    </span></a>
                </div>
                </form>

                {{!-- <input class="input" type="text" placeholder="Find a market">
                </div>
                <div class="control">
                  <a class="button myblue" id="search-markets">
                    <span class="icon">
                      <i class="fas fa-search"></i>
                    </span>
                  </a> --}}


              </div>
          </div>
          </span>

          <span class="navbar-item">
            <div class="control">
              <div class="select is-info">
                <select id="filter">
                  <option>Select market type</option>
                  <option>Farmers market</option>
                  <option>Covered market</option>
                  <option>Street-Food-Market</option>
                  <option>Flea market</option>
                </select>
              </div>
            </div>
          </span>

          <span class="navbar-item">
            <div class="control">
              <div class="select is-warning">
                <select id="filter-days">
                  <option>Select day</option>
                  <option>Monday</option>
                  <option>Tuesday</option>
                  <option>Wednesday</option>
                  <option>Thursday</option>
                  <option>Friday</option>
                  <option>Saturday</option>
                  <option>Sunday</option>

                </select>
              </div>
            </div>
          </span>



          {{!-- <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span> --}}
        </div>
        <div id="navbarMenuHeroA">
          <div class="navbar-end">


            <span class="navbar-item">
              <a href="/logout" class="button myyellow is-rounded">Log out</a>
            </span>
            <span class="navbar-item">
              <a href="/addmarket" class="button myblue is-rounded">Add a market</a>
            </span>
          </div>
        </div>
    </div>
    </nav>
    </div>
  </section>



  {{!-- <div class="container">
    <nav class="navbar">
      <div class="logo-search">
        <a href="/"><img id="logo" src="/images/street-food-market.png" alt="logo"></a>
        <form class="searchform">
          <input for="searchinput" class="searchbar" type="text" placeholder="Search a market" aria-label="Search">
          <button id="search-markets" type="submit"> <i class="fa fa-search"></i></button>
        <a href="#"><img id="logo" src="/images/logo.png" alt="logo"></a>
        <form class="searchform" action="/" method="GET">
          <input for="searchinput" name="manu" class="searchbar" id="getSearchValue" type="text"
            placeholder="Search a market" aria-label="Search">
          <button id="search-markets" type="submit">Search</button>
        </form>
      </div>
      <div class="buttons">
      </div>
    </nav> --}}



  {{{body}}}


  {{!-- <div class="footer">
      <p>
        Made by
        <a href="https://www.linkedin.com/in/adontcova/">Anna Dontcova</a> and <a
          href="https://www.linkedin.com/in/manuela-sakura-rommel-4aa3ba156/">Manuella Rommel</a> during <a
          href="https://www.ironhack.com/en/courses/web-development-bootcamp">Ironhack</a> bootcamp. © 2019
      </p>
    </div> --}}


  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        Made by
        <a href="https://www.linkedin.com/in/adontcova/">Anna Dontcova</a> and <a
          href="https://www.linkedin.com/in/manuela-sakura-rommel-4aa3ba156/">Manuela Rommel</a> during <a
          href="https://www.ironhack.com/en/courses/web-development-bootcamp">Ironhack</a> bootcamp. 
          Illustrations made by <a href="https://www.instagram.com/kodamakingdom/">Kodama Kingdom</a>.
          Markets data from <a href="https://daten.berlin.de/datensaetze/wochen-und-tr%C3%B6delm%C3%A4rkte-0">Senatsverwaltung für Wirtschaft, Energie und Betriebe</a>
          © 2019
      </p>
    </div>
  </footer>

  <script src="/javascripts/script.js"></script>
</body>

</html>